
.navbar{
    width: 100vw;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;


}
.nav-links{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    display: flex;
    gap: 1.5rem;   
}